name: First workflow

on: push

jobs:
  work:
    runs-on: ubuntu-latest

    permissions:
      security-events: write

    steps:
      - name: linter
        uses: advanced-security/python-lint-code-scanning-action@v1
        with: 
          linter: pylint
